{{!
Energy Label Letter Scale

@author    Alex Koziak <akoziak@wayfair.com>
@copyright 2016 Wayfair LLC - All rights reserved
}}

<span class="EnergyLabel-arrow left pos_1" role="presentation">A++</span>
<span class="EnergyLabel-arrow left pos_2" role="presentation">A+</span>
<span class="EnergyLabel-arrow left pos_3" role="presentation">A</span>
<span class="EnergyLabel-arrow left pos_4" role="presentation">B</span>
<span class="EnergyLabel-arrow left pos_5" role="presentation">C</span>
<span class="EnergyLabel-arrow left pos_6" role="presentation">D</span>
<span class="EnergyLabel-arrow left pos_7" role="presentation">E</span>
