{{!
Energy Label Manufacturing Info

@author    Alex Koziak <akoziak@wayfair.com>
@copyright 2016 Wayfair LLC - All rights reserved
}}

<div class="EnergyLabel-manufacturingInfo">
  <span class="EnergyLabel-manufacturer">
    {{manufacturer_short_name}}
  </span>
  <span class="EnergyLabel-partNumber">
    {{manufacturer_part_number}}
  </span>
</div>
